<!DOCTYPE html>
<html>
<head>
  <title>User Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='userpage.css') }}">
</head>
<body>
  <h2>Welcome {{username}}!</h2>
  
  <form method="post" action="{{ url_for('add_book', user_id=user_id, username=username) }}">
    <label for="title">Title:</label>
    <input type="text" name="title" required>
    <label for="current_page">Current Page:</label>
    <input type="number" name="current_page" required>
    <button type="submit">Add Book</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Current Page</th>
       
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book[1] }}</td>
          <td>{{ book[2] }}</td>
          <td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
